@import 'variables';

@mixin section {
    padding: 48px 0;

    @media screen and (max-width: 767px) {
        padding: 24px 0;
    }
}

@mixin container {
    max-width: $container-width;
    margin: 0 auto;
}

@mixin head-lora-36 {
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;

    &.light {
        color: $text-lt-color
    }

    &.dark {
        color: $text-d-color;
    }

    @media screen and (max-width: 899px) {
        font-size: 27px;
    }

    @media screen and (max-width: 767px) {
        text-align: center;
        font-size: 21px;
    }
}

@mixin input {
    padding: 6px 12px;
    border-radius: 6px;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 21px;
    box-sizing: border-box;
    outline: none;


    &.light {
        border: 2px solid $text-lt-color;
        background-color: $input-lt-color;
        color: $text-lt-color;

        &:hover {
            background-color: $input-lt-hover;
        }

        &.disabled {
            background-color: $input-lt-disabled;
        }
    }

    &.dark {
        border: 2px solid $text-d-color;
        background-color: $input-d-color;
        color: $text-d-color;

        &:hover {
            background-color: $input-d-hover;
        }

        &.disabled {
            background-color: $input-d-disabled;
        }
    }

    &:invalid[data-focused="true"] {
        border: 2px solid red;
    }

    &:invalid[data-focused="true"]~.authError {
        display: block;
    }

    @media screen and (max-width: 899px) {
        font-size: 18px;
    }

    @media screen and (max-width: 767px) {
        font-size: 15px;
        text-align: center;
    }
}

@mixin select {
    padding: 6px 12px;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 21px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    cursor: pointer;

    &.light {
        border: 2px solid $text-lt-color;
        background-color: $input-lt-color;
        color: $text-lt-color;

        &:hover {
            background-color: $input-lt-hover;
        }

        &.disabled {
            cursor: auto;
            background-color: $input-lt-disabled;
        }
    }

    &.dark {
        border: 2px solid $text-d-color;
        background-color: $input-d-color;
        color: $text-d-color;

        &:hover {
            background-color: $input-d-hover;
        }

        &.disabled {
            cursor: auto;
            background-color: $input-d-disabled;
        }
    }

    @media screen and (max-width: 899px) {
        font-size: 18px;
    }

    @media screen and (max-width: 767px) {
        font-size: 15px;
    }
}

@mixin option {
    font-family: 'Montserrat', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 899px) {
        font-size: 15px;
    }
}

@mixin button {
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 21px;

    &.light {
        background-color: $button-lt-color;
        color: $button-text-lt-color;

        &:hover {
            background-color: $button-lt-hover;
        }

        &:active {
            background-color: $button-lt-active;
        }
    }

    &.dark {
        background-color: $button-d-color;
        color: $button-text-d-color;

        &:hover {
            background-color: $button-d-hover;
        }

        &:active {
            background-color: $button-d-active;
        }
    }

    @media screen and (max-width: 899px) {
        padding: 12px;
        font-size: 18px;
    }

    @media screen and (max-width: 767px) {
        padding: 9px;
        font-size: 15px;
    }
}

@mixin small-button {
    text-align: center;
    padding: 9px;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}