$container-width: 90%;
$fast-duration: 0.25s;
$slow-duration: 0.75s;

$common-text-color: #aeefff;
$common-anchor-color: rgb(41, 255, 205);

$main-lt-color: #d2eff6;
$text-lt-color: #072e36;
$input-lt-color: #f1fcff;

$main-d-color: #011a1f;
$text-d-color: #229fb8;
$input-d-color: #4fe1fe;