/* Header Styles */

@import '../../../../assets/styles/variables';

.header {
    padding: 30px 0 49px 0;

    .container {
        width: $container-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 72px;

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
            }
        }

        .headerContent {
            width: 100%;

            .headerTop {
                padding-top: 32px;
                padding-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #c5c5c5;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;

                .headerTopMenu {
                    margin-left: 26px;

                    nav ul {
                        margin: 0;
                        padding: 0;
                        display: flex;

                        li {
                            margin-right: 40px;
                            list-style: none;
                            border-bottom: 1px solid transparent;

                            &.active {
                                border-bottom-color: $text-lt-color;
                            }

                            a {
                                font-size: 16px;
                                // color: $text-lt-color;
                                text-decoration: none;
                                cursor: pointer;

                                &.light {
                                    color: $text-lt-color
                                }

                                &.dark {
                                    color: $text-d-color;
                                }
                            }
                        }
                    }
                }

                .headerTopPhone {
                    font-size: 16px;
                    // color: $text-lt-color;
                    text-decoration: none;


                    &.light {
                        color: $text-lt-color
                    }

                    &.dark {
                        color: $text-d-color;
                    }
                }

                .headerTopActions {
                    display: flex;
                    align-items: center;

                    a {
                        margin-right: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        position: relative;

                        &:last-child {
                            margin-right: 18px;
                        }

                        svg {
                            width: 30px;
                            height: 30px;
                        }

                        span {
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            top: 10px;
                            right: -18px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Montserrat", sans-serif;
                            font-size: 9px;
                            font-weight: 400;
                            color: white;
                            border-radius: 50%;
                            background: $text-lt-color;
                        }
                    }
                }
            }

            .headerBottom {
                padding-top: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .headerBottomMenu {
                    margin-left: 26px;
                    margin-right: 97px;

                    nav ul {
                        margin: 0;
                        padding: 0;
                        display: flex;

                        li {
                            margin-right: 50px;
                            list-style: none;
                            border-bottom: 1px solid transparent;

                            &.active {
                                border-bottom-color: $text-lt-color;
                            }

                            a {
                                font-size: 16px;
                                color: $text-lt-color;
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .headerBottomSearch {
                    position: relative;

                    input {
                        border: 1px solid $text-lt-color;
                        border-radius: 30px;
                        padding: 10px 10px 10px 43px;
                        width: 214px;
                        height: 41px;
                        font-size: 16px;
                        color: $text-lt-color;
                        box-sizing: border-box;
                        outline: none;
                    }

                    &::after {
                        content: "";
                        background-image: url("images/search.png");
                        background-size: cover;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        left: 15px;
                        top: 12px;
                    }
                }
            }
        }
    }
}