/* Main Page Styles */

@import '../../../assets/styles/variables';

.main {
    padding: 48px 0;
    background-image: url("images/page/main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;

    .container {
        width: $container-width;
        margin: 0 auto;
        font-family: "Lora", serif;

        .mainHeading {
            font-weight: 600;
            font-size: 60px;
            line-height: 130%;
            color: $common-text-color;
            margin-bottom: 30px;
            margin: 18px 0;
        }

        .mainText {
            font-weight: 500;
            font-size: 30px;
            line-height: 130%;
            color: $common-text-color;
            margin: 12px 0;

            a {
                text-decoration: none;
                color: $common-anchor-color;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid $common-anchor-color;
                }
            }
        }
    }

}

.address {
    padding: 48px 0;

    .container {
        margin: 0 auto;
        font-family: "Lora", serif;

        .addressHeading {
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            margin-bottom: 24px;

            &.light {
                color: $text-lt-color
            }

            &.dark {
                color: $text-d-color;
            }
        }

        iframe {
            border: none;
        }
    }
}