/* Main Page Styles */

@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.main {
    padding: 48px 0;
    background-image: url("images/page/main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;

    .container {
        @include container;
        font-family: "Lora", serif;

        .mainHeading {
            font-weight: 600;
            font-size: 60px;
            line-height: 130%;
            color: $common-text-color;
            margin-bottom: 30px;
            margin: 18px 0;
        }

        .mainText {
            font-weight: 500;
            font-size: 30px;
            line-height: 130%;
            color: $common-text-color;
            margin: 12px 0;

            a {
                text-decoration: none;
                color: $common-anchor-color;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid $common-anchor-color;
                }
            }
        }
    }

}

.address {
    padding: 48px 0;

    .addressHeading {
        margin-bottom: 24px;
        @include head-lora-36;
        text-align: center;
    }

    iframe {
        border: none;
    }
}