/* Personal Pages Styles */

@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.personal {
    @include section;
    
    .modalWrapper {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .modalContainer {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            border-radius: 6px;
            padding: 12px;

            &.light {
                background-color: $main-lt-color;
                border: 2px solid $text-lt-color;
            }

            &.dark {
                background-color: $main-d-color;
                border: 2px solid $text-d-color;
            }

            .modalHeading {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-size: 18px;
                margin: 0 auto;
                text-align: center;
            }

            .modalItem {
                font-family: 'Lora', serif;
                font-style: normal;
                font-size: 15px;
                margin: 0 auto;
                text-align: center;
                line-height: 1;
            }

            button {
                @include button;
                width: 100%;
                color: rgb(217, 217, 217);
                margin-top: 15px;

                &.sendButton {
                    background-color: rgb(28, 197, 101);
                }
                
                &.cancelButton {
                    background-color: rgb(32, 154, 161);
                }
            }

        }
    }

    .container {
        @include container;

        .personalHeading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            @media screen and (max-width: 424px) {
                flex-direction: column;
                gap: 12px;
            }

            span {
                @include head-lora-36;
            }

            a {
                text-decoration: none;
                border-bottom: 2px solid transparent;

                &.light {
                    color: $anchor-lt-color;

                    &:hover {
                        border-bottom: 2px solid $anchor-lt-color;
                    }
                }

                &.dark {
                    color: $anchor-d-color;

                    &:hover {
                        border-bottom: 2px solid $anchor-d-color;
                    }
                }
            }
        }

        .personalContent {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
        }

        .personalButton {
            @include button;
            margin-top: 21px;
        }
    }
}