/* Layout Styles */

@import '../../../assets/styles/variables';

.wrapper {
    width: calc(100vw - 90px);
    height: 100%;
    margin: 48px auto;
    border-radius: 10px;
    max-width: 2000px;

    &.light {
        background-color: $main-lt-color;
        color: $text-lt-color
    }

    &.dark {
        background-color: $main-d-color;
        color: $text-d-color
    }

    @media screen and (max-width: 767px) {
        width: calc(100vw - 30px);
        margin: 15px auto;
    }

    .greetings {
        margin: 54px 0;
        font-family: 'Lora', sans-serif;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        text-align: center;
    }
}